/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), 
       url("../fonts/roboto-regular-webfont.woff") format("woff"),
       url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff'),
       url('../fonts/roboto-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} */
body{
  font-family:source-serif-pro, serif; margin:0; color:#222; moz-osx-font-smoothing:grayscale; -webkit-font-smoothing: antialiased;
}
@media (min-width:500px){
  body{
    line-height:2rem; font-size:1.1875rem;
  }
}
@media (max-width:499px){
  body{
    line-height:1.5rem;
  }
}
body.showing-menu{
  overflow:hidden;
}
p{
  margin:2rem 0;
}
@media (max-width:767px){
  p{
    margin:1.5rem 0;
  }
}
[hidden] {
  display: none;
}
a{
  text-decoration:none; color:inherit;
}
button{
  font-family:inherit; font-size:inherit; line-height:inherit; cursor:pointer; letter-spacing:normal;
}
button::-moz-focus-inner{
  border:0;
}
abbr{
  text-decoration:none;
}
p abbr,
li abbr{
  font-variant:all-small-caps; font-weight:500;
}
.screen-reader-text{
  position:absolute!important; clip:rect(1px,1px,1px,1px); padding:0!important; border:0!important; height:1px!important; width:1px!important; overflow:hidden;
}
.kbd-show,
.keyboard .kbd-hide{
  display:none!important;
}
.keyboard .kbd-show{
  display:block!important;
}
.mt0{
  margin-top:0!important;
}
.container{
  max-width:1100px; margin-left:auto; margin-right:auto; padding-left:28px; padding-right:28px;
}
@media (max-width:899.99999999999999px){
  .container{
    padding-left:20px; padding-right:20px;
  }
}
.logos{
  display:flex; justify-content:space-between; align-items:center; padding-top:16px; padding-bottom:16px;
}
.logo a{
  display:flex; align-items:center;
}
.logo img{
  vertical-align:middle;
}
.wordmark{
  width:250px; height:102px; background:url(../images/wordmark.png) no-repeat 16px 0/250px; margin-left:6px; padding-left:16px; position:relative;
}
.wordmark:before{
  content:""; height:76px; position:absolute; left:0; top:15px; border-left:1px solid #f4ebdb;
}
.tg-logo img{
  width:108px; vertical-align:middle;
}
nav{
  clear:both; position:relative; z-index:100; background-color:#f9f4ea; color:#322c26; border-top:1px solid #efe3cb; border-bottom:1px solid #efe3cb;
}
nav.in-transition{
  border:none; border-radius:0; transform-origin:50% 0;
}
nav.in-transition *{
  opacity:0;
}
.show-menu{
  height:40px; width:100%; text-align:left; font-variant:all-small-caps; font-weight:500; font-size:1rem; letter-spacing:1px; background:url(../images/arrow-forward.svg) no-repeat center; border:none;
}
.show-menu:before{
  content:""; display:inline-block; width:24px; height:24px; background:url(../images/menu.svg); vertical-align:-7px; margin-right:8px;
}
.primary-menu{
  margin-top:0; margin-bottom:0; list-style:none;
}
.hide-menu{
  display:none;
}
.primary-menu .level-1{
  position:relative; flex-grow:1;
}
.primary-menu .level-1-a,
.primary-menu .level-2-a{
  display:block; padding-top:10px; padding-bottom:10px;
}
button.level-1-a{
  color:inherit; border:none; background:none; width:100%;
}
.mouse .primary-menu .level-1:hover .level-1-a,
.mouse .primary-menu .level-1-a:hover,
.primary-menu .level-1-a:focus,
.mouse .primary-menu .level-2-a:hover,
.primary-menu .level-2-a:focus{
  background-color:#c69a47; color:#fff; outline:1px solid #c69a47;
}
.primary-menu .level-1:hover .level-1-a:after,
.has-sub .level-1-a:focus:after{
  background-image:url(../images/arrow-down-white.svg);
}
.primary-menu li:hover > .submenu{
  display:block;
}
.primary-menu > li:last-child .submenu{
  right:0;
}
.primary-menu .submenu li{
  border-bottom:1px solid #eee;
}
.primary-menu .submenu li:last-child {
  border-bottom: none;
}
.primary-menu .level-2-a{
  padding:12px 20px;
}
.primary-menu .submenu .submenu{
  top:0;
  left:100%;
  display:none;
}
.primary-menu .submenu li{
  display:block;
}
.primary-menu .submenu button{
  text-align:left;
}

@media (max-width:1024px){
  .primary-menu{
    padding:0;
  }
  .primary-menu .level-1:first-child{
    display:none;
  }
}
@media (min-width:900px){
  .primary-menu{
    font-size:1.0625rem; line-height:1.75rem; padding-left:0; display:flex; justify-content:space-between; justify-content:space-evenly;
  }
  .primary-menu .level-1-a,
  .primary-menu .level-2-a,
  .primary-menu .level-3-a{
    padding-left:16px; padding-right:16px;
  }
  .primary-menu .submenu {
    position:absolute; padding:0 0 4px; border-radius:0 0 4px 4px; background:#fff; box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16); border-top:2px solid #c69a47; max-width:300px; width:250px; display:none;
  }
  .primary-menu .level-1-a{
    text-align:center;
  }
  .has-sub .level-1-a:after{
    content:""; width:16px; height:16px; display:inline-block; background:url(../images/arrow-down.svg) no-repeat center; background-size:16px; position:relative; top:3px; left:6px;
  }
  .primary-menu .level-2-a{
    font-size:16px; line-height:1.5;
  }
  .show-menu{
    display:none;
  }
}
@media (max-width:899.99999999999999px){
  .logos{
    padding-top:12px; padding-bottom:12px;
  }
  .primary-menu-mask{
    content:""; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.4); z-index:-1; display:none;
  }
  .showing-menu .primary-menu-mask{
    display:block; animation:primary-menu-mask-fade-in .2s cubic-bezier(.47,0,.74,.71);
  }
  .hiding-menu-transition .primary-menu-mask{
    animation:primary-menu-mask-fade-out .2s cubic-bezier(.47,0,.74,.71) forwards;
  }
  .primary-menu-wrapper{
    background-color:#fff; position:fixed; top:0; bottom:0; right:0; width:280px; width:40%; min-width:280px; box-sizing:border-box; box-shadow:0 0 12px -2px #333; display:none;
  }
  .primary-menu-wrapper.container{
    padding:0;
  }
  .showing-menu .primary-menu-wrapper{
    display:block; animation:primary-menu-slide-in .2s cubic-bezier(.47,0,.74,.71);
  }
  .hiding-menu-transition .primary-menu-wrapper{
    animation:primary-menu-slide-out .2s cubic-bezier(.47,0,.74,.71) forwards;
  }
  .hide-menu {
	  width:100%; height:36px; background:#c69a47 url(../images/close.svg) no-repeat calc(100% - 16px) center; border:none; background-color:hsl(39.2, 52.7%, 87.7%); border-bottom:1px solid hsl(39.2, 52.7%, 82.7%); font-size:1rem; font-variant-caps:all-small-caps; font-weight:500; letter-spacing:1px; text-align:left;
  }
  .hide-menu{
    padding-left:24px; padding-right:24px;
  }
  .showing-menu .hide-menu{
    display:block;
  }
  .primary-menu{
    padding:24px 16px; position:absolute; top:36px; bottom:0; overflow:auto;
  }
  .primary-menu .has-sub.level-1{
    margin:3rem 0;
  }
  .primary-menu .level-1.has-sub:nth-child(2){
    margin-top:0;
  }
  .primary-menu .level-1.has-sub .level-1-a {
	  font-size:13px; font-weight:500; padding-top:0; padding-bottom:0; border-bottom:1px solid #999;
	}
  .primary-menu .level-1-a,
  .primary-menu .level-2-a{
    padding-left:8px; padding-right:8px;
  }
  .primary-menu .submenu{
    padding-left:0;
  }
  .primary-menu .level-1{
    border-bottom:1px solid;
  }
  .primary-menu .level-1:last-child{
    margin-bottom:1.5rem;
  }
  .primary-menu .level-1,
  .primary-menu .submenu li{
    border-color:#f9f5ee;
  }
}
@keyframes primary-menu-slide-in{
  from{transform:translateX(100%);}
  to{transform:translateX(0);}
}
@keyframes primary-menu-slide-out{
  from{transform:translateX(0);}
  to{transform:translateX(100%);}
}
@keyframes primary-menu-mask-fade-in{
  from{opacity:0;}
  to{opacity:.2}
}
@keyframes primary-menu-mask-fade-out{
  from{opacity:.2;}
  to{opacity:0}
}
@media (max-width:899.99999999999999px) and (min-width:600px){
  .show-menu{
    padding-left:36px; background-position:calc(100% - 41px) 50%;
  }
}
@media (max-width:600px){
  .show-menu{
    padding-left:12px; background-position:calc(100% - 12px) 50%;
  }
}
@media (max-width:600px) and (min-width:400px){
  .logo span:before{
    height:63px; top:21px;
  }
}
@media (min-width:550px){
  .animating-logos{
    width:89px; height:98px; overflow:hidden;
  }
}
@media (max-width:549.99999999999999px){
  .tg-logo{
    display:none;
  }
  .animating-logos img{
    width:100%; margin-bottom:1rem;
  }
  .logo a{
    overflow:hidden; align-items:flex-start;
  }
}
@media (max-width:549.99999999999999px) and (min-width:400px){
  .animating-logos{
    width:89px; animation:logo-slide-show1 10s ease infinite;
  }
}
@keyframes logo-slide-show1{
  0%{transform:translateY(0);}
  40%{transform:translateY(0);}
  50%{transform:translateY(-108px);}
  90%{transform:translateY(-108px);}
  100%{transform:translateY(-218px);}
}
@media (min-width:400px){
  .logo a{
    height:102px;
  }
}
@media (max-width:399.99999999999999px){
  .logos{
    padding-top:10px; padding-bottom:6px;
  }
  .logo a{
    padding:4px; height:80px;
  }
  .animating-logos{
    width:62px; animation:logo-slide-show2 10s ease infinite;
  }
  .logo span{
    font-size:18px; width:195px; height:80px; padding-left:12px; margin-left:8px; background-size:195px; background-position:12px 0;
  }
  .logo span:before{
    height:40px; top:20px;
  }
  .show-menu{
    height:32px;
  }
}
@keyframes logo-slide-show2{
  0%{transform:translateY(5px);}
  40%{transform:translateY(5px);}
  50%{transform:translateY(-75px);}
  90%{transform:translateY(-75px);}
  100%{transform:translateY(-157px);}
}

.a{
  min-width:250px;
  padding:0;
  margin-right:48px;
  background-color:hsl(210, 38.5%, 98.8%);
  border:1px solid hsl(210, 38.5%, 96.3%);
  border-radius:2px;
}
.a li{
  position:relative;
}
.a a{
  padding:8px 56px 12px 32px;
  display:block;
  position:relative;
  font-size:14px;
  color:#333;
}
.a li + li a{
  border-top:1px solid #eee;
}
.a li:hover > a{
  background-color:#396099;
  color:#fff;
}
.a svg{
  position:absolute;
  top:50%;
  right:16px;
  transform:translateY(-50%);
}
.a .submenu{
  position:absolute;
  left:100%;
  top:0;
  background-color:aliceblue;
  padding:0;
  width:250px;
  box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
  border-radius:4px;
  display:none;
}
.a a:hover + .submenu,
.submenu:hover{
  display:block;
}
.quick-links ul{
  padding-left:0; margin:0; font-size:.875rem; line-height:1.5rem;
}
.quick-links li{
  list-style:none; background:#fff url(../images/arrow-forward.svg) no-repeat 12px 12px/16px; border-bottom:1px dotted #aaa;
}
.quick-links li:last-child{
  border-bottom:none;
}
.quick-links a{
  display:block; padding:8px 20px 8px 40px;
}
.card{
  box-shadow:0 1px 1px 0 #ccc, 0px 0px 2px 0px #ccc; border-radius:4px; padding-bottom:4px;
}
.card h1{
  margin:0; padding:16px 32px 12px; text-transform:uppercase; font-size:.875rem; line-height:1.25rem; font-weight:500; letter-spacing:1px; background:#f6f6f6; color:#322c26; border-bottom:1px solid #e7e7e7; border-radius:4px 4px 0 0;
}
h2 {
	font-size:24px; font-weight:500;
}
main{
  margin-top:16px;
}
.related-links ul{
  list-style:none; padding-left:0; margin:0; font-size:.875rem; line-height:1.5rem;
}
.related-links li{
  border-bottom:1px dotted #eee; background:url(../images/arrow-forward.svg) no-repeat 12px 12px/16px;
}
.related-links a{
  padding:8px 16px 8px 36px; display:block;
}
@media (min-width:1156px){
  main{
    display:flex; align-items:flex-start;
  }
  .related-links{
    flex:1 0 244px; margin-left:48px; margin-top:30px;
  }
}
@media (max-width:1155px){
  .related-links{
    position:relative; margin-top:15rem;
  }
  .related-links:before{
    content:"***"; font-size:24px; text-align:center; letter-spacing:1rem; position:absolute; top:-10rem; width:100%; color:#aaa;
  }
}
.main-h1{
  font-size:30px; font-weight:400; padding:24px 0; margin:-32px 0 32px; line-height:1; color:#202020; position:relative;
}
.main-h1:after{
  content:""; width:100%; height:0; border-top:1px solid #e3cea4; border-bottom:1px solid #fbf8f2; position:absolute; top:100%; left:0;
}
.main-section{
  padding:32px 0; flex-basis:800px; flex-grow:1;
}



footer{
  font-size:.9375rem; background-color:#f6efe3; border-top:1px solid #eadabc;
}
footer ul,
footer p{
  margin-top:0; margin-bottom:0;
}
footer ul{
  list-style:none;
}
footer a{
  display:inline-block;
}
footer .container{
  display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; -ms-flex-wrap:wrap; flex-wrap:wrap;
}
.contact-ctas,
.copyright{
  width:100%;
}
.contact-ctas,
.sitemap,
.view-in-map,
.copyright{
  padding-top:1rem; padding-bottom:1rem;
}
.contact-ctas a{
  display:block; background:url(../images/take-action.svg) no-repeat right center;
}
.contact-ctas span{
  display:block;
}
.contact-ctas span:last-child{
  font-size:17px; font-weight:500;
}
.sitemap,
.view-in-map,
.copyright{
  border-top:1px solid #eadabc;
}
.sitemap h1{
  font-weight:500; font-size:inherit; margin:0;
}
.sitemap ul{
  padding-left:0;
}
.sitemap a{
  margin-left:20px; position:relative;
}
.sitemap a:before{
  content:"\25CB"; position:absolute; left:-20px;
}
.view-in-map{
  background:url(../images/location.svg) no-repeat;
}
.view-in-map a{
  display:inline-block; padding:4px 16px; line-height:1.75rem; background:#fff; border-radius:4px; border:1px solid #dec495;
}
.copyright ul{
  padding-left:0; display:-webkit-box; display:-ms-flexbox; display:flex;
}
.copyright li + li{
  position:relative; padding-left:16px; margin-left:16px;
}
.copyright li + li::before{
	content:""; position:absolute; height:4px; width:4px; background-color:#c69a47; left:0; top:50%; transform:translate(-50%,-50%); border-radius:50%;
}
.copyright a{
  text-decoration:underline;
}
@media (min-width:590px){
  footer{
    line-height:2.25rem;
  }
  .contact-ctas{
    display:flex;
  }
  .tel{
    padding-right:24px; margin-right:24px; border-right:1px solid #eadabc;
  }
  .contact-ctas a{
    padding-top:9px; width:234px; padding-right:48px; box-sizing:border-box;
  }
  .contact-ctas span{
    line-height:18px;
  }
  .contact-ctas span:last-child{
    line-height:inherit;
  }
  .sitemap > ul{
    display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; -ms-flex-line-pack:start; align-content:flex-start;
  }
  .sitemap .has-sub{
    width:234px; padding-right:24px; margin-right:24px; border-right:1px solid #eadabc; height:100%;
  }
}
@media (min-width:590px) and (max-width:839px){
  .sitemap .level-1:nth-last-child(-n+4){
    width:100%;
  }
}
@media (min-width:840px){
  .sitemap{
    width:778px;
  }
  .sitemap > ul{
    -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; height:180px;
  }
  .copyright{
    display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between;
  }
}
@media (min-width:1156px){
  .view-in-map{
    padding-left:2.25rem; background-position:0 21px;
  }
}
@media (max-width:1155px){
  .view-in-map{
    background-position:right center; background-size:48px; padding-right:48px; width:100%;
  }
  .sitemap{
    width:100%;
  }
}
@media (max-width:839px){
  .sitemap .has-sub:nth-child(2){
    padding-right:0; margin-right:0; border-right:none;
  }
  .sitemap .level-1:nth-child(3){
    margin-top:1rem;
  }
  .copyright{
    line-height:1.5rem; text-align:center;
  }
  .copyright ul{
    margin-top:.5rem; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center;
  }
}
@media (max-width:589px){
  footer{
    line-height:1.5rem;
  }
  .sitemap h1,
  .sitemap a{
    padding-top:6px; padding-bottom:6px;
  }
  .email{
	  padding-top:16px; margin-top:16px; border-top:1px solid #f0e5cf;
  }
  .sitemap .level-1:nth-child(2){
    margin-top:18px;
  }
}
@media (max-width:319px){
  .copyright ul{
    display:block;
  }
  .copyright li + li{
    padding-left:0; margin-left:0;
  }
  .copyright li + li:before{
    content:normal;
  }
}
@media (max-width:300px){
  .contact-ctas a,
  .view-in-map{
    padding-right:0; background-image:none;
  }
  .view-in-map{
    text-align:center;
  }
}
